[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

indent_style = space
indent_size = 2
max_line_length = 120

[{package.json,*.yml}]
indent_style = space
indent_size = 2

[*.org]
trim_trailing_whitespace = true
max_line_length = 80
indent_style = space

[*.{md,markdown}]
max_line_length = off
indent_style = space
indent_size = 4

